astral==3.1
certifi==2022.9.24
charset-normalizer==2.1.1
gosundpy==0.2.0
idna==3.4
paho-mqtt==1.6.1
pycryptodome==3.15.0
PyYAML==6.0
requests==2.28.1
tuya-iot-py-sdk==0.6.6
urllib3==1.26.12
websocket-client==1.4.1
